@import url("/Styles/constant.css");
* {
  margin: 0;
  padding: 0;
}
.container {
  padding: 3rem 0.5rem;
}
.main-image {
  border-radius: 2rem;
  width: 25rem;
  display: block;
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* dropdown */
.drop-down-container {
  display: flex;
  justify-content: center;
}
.select-list {
  font-size: 1.2rem;
  padding: 0.3rem 1rem;
}
.dropdown {
  border: 0.2rem solid grey;
}
.option {
  display: none;
}
img {
  width: 100%;
  display: inline-block;
}
.image-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.image-row img {
  border-radius: 1rem;
  width: 10rem;
  object-fit: cover;
  cursor: pointer;
  margin: 0.5rem;
}
.active {
  border: 0.3rem solid red;
}
